
<h2>My Heroes</h2>
<ul class="heroes">
  <!--*ngFor is repeater directive, represents a list of item-->
  <!-- click event informs the click event when click on the list-->
  <li *ngFor="let hero of heroes" ><!-- [class.selected]="hero === selectedHero" (click) = "OnSelect(hero)">-->
    <a routerLink = "/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </a>
  </li>
</ul>

<!--won't change the HeroesComponent class but will change its template-->

<!-- 1. one way data binding..Bind the HeroesComponent.selectedHero to the element's hero property
     2.when the user clicks a hero in the list, the selectedHero changes. When the selectedHero changes, 
       the property binding updates hero and the HeroDetailComponent displays the new hero.-->

<!--<app-hero-detail [hero] = "selectedHero"></app-hero-detail>-->